<header>
  <nav>
    <!-- <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog/introduction">Blog</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
    </ul> -->
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <!-- <a href="/privacy">Policy</a>
    <a href="/contact">Contact</a> -->
    <a href="/convert">Convert</a>
  </nav>
</header>
