    <%- include('partials/head', {title: 'Words → Art'}); %>
    <%- include('partials/header'); %>

    <h1>Words → Art</h1>
    <!-- <h1>ArtWords</h1> -->
    <form
      hx-post="/convert"
      hx-target="#result"
      hx-swap="innerHTML"
      hx-trigger="input delay:300ms, change delay:300ms from:form"
    >
      <textarea
        name="text"
        rows="4"
        id="artInput"
        style="width: 100%"
        placeholder="Enter text or a paragraph..."
        required
      ></textarea>
      <label>Red Factor</label>
      <input type="range" name="rFactor" min="1" max="10" value="4" /><br />

      <label>Green Factor</label>
      <input type="range" name="gFactor" min="1" max="15" value="9" /><br />

      <label>Blue Factor</label>
      <input type="range" name="bFactor" min="1" max="10" value="1" /><br />

      <hr />
      <!-- <button
        type="submit"
        hx-indicator="#working"
        style="margin-top: 10px"
        id="generateButton"
      >
        Generate Art
      </button> -->

      <button type="button" onclick="clearArt()" id="clearBtn">Clear</button>

      <div id="working" style="color: rgb(255, 255, 255)">Working...</div>
    </form>
    <div id="result" style="margin-top: 20px"></div>

    <!-- Example ad slot -->
    <div
      style="margin-top: 40px; border-top: 1px solid #ccc; padding-top: 20px"
    >
      <p>Ad space here</p>
    </div>

    <%- include('partials/footer'); %>

    <script>
      function clearArt() {
        // Clear the input field
        document.getElementById("artInput").value = "";

        // Clear the generated image and buttons
        document.getElementById("result").innerHTML = "";
      }
    </script>

