    <%- include('partials/head', {title: 'Privacy Policy'}); %>
    <%- include('partials/header'); %>

    <h1>Privacy Policy</h1>
    <p>
      We respect your privacy. This website does not collect personal
      information unless you choose to share it (for example, by contacting us).
      Generated art is created on demand and not stored permanently unless you
      explicitly save or share it.
    </p>
    <p>
      We may use cookies or analytics tools to improve user experience and
      display ads. Third-party ad providers may collect anonymized data to serve
      relevant advertisements.
    </p>
    <p>
      By using this site, you agree to the use of cookies and ads as described.
    </p>

        <h1 class="contactInfo">Contact Us</h1>
    <p class="contactInfo">
      If you have questions, feedback, business inquiries, or just want to reach out:
    </p>
    <ul>
      <li >
       <span class="contact-link">Email</span>:
        <a href="mailto:occiandiaali@gmail.com" target="_blank" rel="noopener noreferrer">occiandiaali@gmail.com</a>
      </li>
      
      <li >
       <span class="contact-link">Twitter/X</span>: <a href="https://twitter.com/messages/compose?recipient_id=occiandiaali" target="_blank" rel="noopener noreferrer">@occiandiaali</a>
      </li>
      <li >
       <span class="contact-link">FaceBook</span>:
        <a href="https://web.facebook.com/occiandrops/" target="_blank" rel="noopener noreferrer">Occian Drops</a>
      </li>
    </ul>

    <!-- Ad slot -->
    <div
      style="margin-top: 40px; border-top: 1px solid #ccc; padding-top: 20px"
    >
      <p>Ad space here</p>
    </div>

    <%- include('partials/footer'); %>

